@import url("../fonts/fonts.css");  /* Importar la fuentes  */

body{
    margin: 0;
}

h2{
    text-align: center;
    font-family: "myriadProRegular";
}

.parrafoSuelto{
    text-align: center;
    font-family: "myriadProLight";
}

header{
    display: flex;
    width: 100vw;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    font-family: "myriadProRegular";
}

.anadir {
    display: flex;
    gap: 1vw;
}

.refrescar{
    display: flex;
    gap: 1vw;
}

.eliminar{
    display: flex;
    gap: 1vw;
}

.logoPequeno{
    display: flex;
    gap: 1vw;
}


.reportar{
    display: flex;
    gap: 1vw;
}

.ayuda{
    display: flex;
    gap: 1vw;
   
}

.apartadoUsuario{
    display: flex;
    gap: 1vw;
    
}

.fotoDePerfil{
    width: 35%;
}

.indicadores div:not(.progreso1,  .indicaciones, .progreso2, .progreso3, .progreso4, .progreso5, .progreso6){
    border: solid 1px black;
    width: 87vw;
    border-radius: 24px;
    margin-left: 5vw;
    margin-top: 2vh;
    font-family: "myriadProLight";
    


}

.indicaciones{
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    margin-left: 5vw;
    font-family: "myriadProRegular";
    
    
    
}



.indicador {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




.indicador .progreso1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.indicador .progreso2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.indicador .progreso3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.indicador .progreso4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.indicador .progreso5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.indicador .progreso6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-left: 6px solid red;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
    font-family: "myriadProLight";
    
    
}

.anadirElementos{
    display: flex;
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    border: 1px solid #FF6F2C;
    background-color: #FF6F2C;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
    margin-left: 43vw;
    color: white;
    font-family: "myriadProRegular";
}

.hamburguesas {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30px;  
  gap: 43px;            
  top: 14rem;           
  right: 3rem;         
}
