@import url("../fonts/fonts.css");  /* Importar la fuentes  */

body{
    margin: 0;
}

h2{
    text-align: center;
    font-family: "myriadProRegular";
}

.parrafoSuelto{
    text-align: center;
    font-family: "myriadProLight";
}

header{
    display: flex;
    width: 100vw;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    font-family: "myriadProRegular";
}

.anadir {
    display: flex;
    gap: 1vw;
}

.refrescar{
    display: flex;
    gap: 1vw;
}

.eliminar{
    display: flex;
    gap: 1vw;
}

.logoPequeno{
    display: flex;
    gap: 1vw;
}


.reportar{
    display: flex;
    gap: 1vw;
}

.ayuda{
    display: flex;
    gap: 1vw;
   
}

.apartadoUsuario{
    display: flex;
    gap: 1vw;
    
}

.fotoDePerfil{
    width: 80%;
}

form{
  text-align: center;
  background-color: #fff5f0;
  padding: 2rem;
  border: 2px solid #FF6F2C; 
  border-radius: 20px;
  width: 25vw;
  height: 24vw;
  margin: auto;
  font-family: "myriadProRegular";
  margin-top: 5vh;
}

form input{
    background-color: #fff1e9;
    border: 2px solid #ff914d;
    width: 15vw;
}

form textarea{
  width: 25vw;
  height: 4vw;
  background-color: #fff1e9;
  border: 2px solid #ff914d;


}

form button{
    justify-content: center;
    background-color: #FF6F2C;
    border: 1px solid #FF6F2C;
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    color: white;
    font-family: "myriadProLight";
   
   
    
   
}


form select{
    background-color: #fff1e9;
    border: 2px solid #ff914d;
    width: 15vw;
    
}

header a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "myriadProRegular";
    text-decoration: none;
    color: black;
}

.menuPerfil {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.menuPerfil a {
    color: black;
    text-decoration: none;
    font-family: "myriadProRegular";
}

   
 

.contenedorPerfil:hover .menuPerfil {
    display: block;
}