body {
    background-color: black;
    margin: 0;
}

.camarografos {
    width: 120rem;
    height: 67.5rem;
}

#fondoCam {
    width: 120em;
    height: 67.5em;
}

#logo {
    position: relative;
    bottom: 38em;
    left: 51em;
    width: 11em;
}

.containerWelcome {
    position: relative;
    background-color: white;
    border-radius: 4rem;
    width: 57rem;
    height: 40rem;
    bottom: 55rem;
    left: 31rem;
}

#logoWelcome {
    position: relative;
    width: 7em;
    left: 25em;
    top: 1.5em;
}

.tituloWelcome h1 {
    font-weight: normal;
    position: relative;
    text-align: center;
    font-size: 250%;
    left: 0em;
    top: 0.2em;
    line-height: 1.4;
}

.lineaDos {
    margin-top: 20em;
}
.subtituloWelcome {
    position: relative;
    left: 15.5em;
}