@media (max-width: 1920px) {
    .containerWelcome {
        gap: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 47vw;
        height: 41vw;
        border-radius: 4rem;
        padding: 1vw;
        margin-right: 3.5vw;
        margin-top: 74rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(../img/imagenCamarografos.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.containerPadre {
    display: none;
}

#logoWelcome {
    width: 7rem;
    
}

.containerWelcome {
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 48vw;
    height: 39vw;
    border-radius: 4rem;
    padding: 1vw;
    margin-right: 0vw;
    margin-top: 12rem;
    padding-top: 5rem;
}

.userWelcome {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.textUser {
    display: flex;
    padding-left: 1vw;
    font-size: 1.5vw;
}

.textContrasena {
    display: flex;
    width: 100%;
    padding-left: 1vw;
    font-size: 1.5vw;
}

.cajaUser {
    width: 100%;
    padding: 0.6vw;
    border-radius: 1vw;
    border: 1px solid gray;
    height: 2.5vw;
}


.cajaContrasena {
    
    width: 100%;
    padding: 0.6vw;
    border-radius: 1vw;
    border: 1px solid gray;
    height: 2.5vw;
}


.containerUser {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}


.containerContrasena {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}


.subtituloWelcome {
    font-size: 1.05vw;
}


.footerWelcome {
    margin: 0vw;
    width: 100%;
    margin-left: 16.5vw;
    font-size: 0.8vw;
    margin-bottom:4vw;
}

.ingresarPanel {
    border-radius: 3rem;
    text-align: center;
    margin: 1.2vw;
    background-color: #FF6A2C;
    width: 17vw;
    font-size: 1.5vw;
    padding: 1vw;
    color: white;
}

.tituloWelcome {
    text-align: center;
}

